.main-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.item-1{
  justify-content: center;
  display: flex;
  font-size: 26px;
  font-weight: 700;
  color: brown;
}

.item-2{
  justify-content: center;
  display: flex;
  font-size: 26px;
  font-weight: 700;
  color: rgb(42, 161, 165);
}

.item-3{
  justify-content: center;
  display: flex;
}

.count-box{
  width: 50px;
  border: 1px solid;
  display: flex;
  justify-content: center;
}
